<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-icon-button/core-icon-button.html">
<link rel="import" href="../core-animation/core-animation.html">
<link rel="import" href="../core-collapse/core-collapse.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-slider/paper-slider.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../core-image/core-image.html">
<link rel="import" href="../custom/single-groupmember.html">
<link rel="import" href="single-task-settings.html">

<script src="../../lib/sweet-alert.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../lib/sweet-alert.css">

<polymer-element name="profile-view" attributes="root">
  <template>
  <link rel="stylesheet" type="text/css" href="style/settings-view.css">
    <!--<core-ajax id="ajaxGetTasks"
            auto="false"
            url="http://178.62.205.200/api/tasks"
            on-core-response="{{tasksLoaded}}"
            handleAs="json"
            method="GET">
    </core-ajax>-->

    <core-ajax id="ajaxUploadAvatar"
      auto="false"
      method="PUT">
    </core-ajax>

    <core-toolbar>
        <core-icon icon="home" on-tap="{{goBack}}"></core-icon>
        <div flex>{{toolbarname}}</div>
    </core-toolbar>

    <core-animated-pages id="pages" selected="0" transitions="slide-from-right">

  <div>
    <!--<single-groupmember id="{{me.id}}" name="{{me.name}}" name_ext=" (ik)" avatar="{{me.avatar}}" email="{{me.email}}" on-edit-user="{{editUser}}"></single-groupmember>-->

      <div class="user">
          <div class="avatar">
              <core-image src="{{root.domain}}{{root.me.avatar}}" style="width:130px; height:130px;" sizing="cover"></core-image>

              <input type="file" name="image" on-change="{{selectAvatar}}">
          </div>

          <paper-input-decorator label="Naam">
              <input id="name" type="text" value="{{root.me.name}}" on-focus="{{updateUsernameBackUp}}" on-blur="{{updateUsername}}">
          </paper-input-decorator>

          <p><core-icon icon="mail"></core-icon>  {{root.me.email}}</p>
      </div>
    <!--<div class="seperator"></div>

    <template repeat="{{user in group}}">
        <single-groupmember id="{{user.id}}" name="{{user.name}}" avatar="{{user.avatar}}" email="{{user.email}}" on-edit-user="{{editUser}}"></single-groupmember>
    </template>-->

    <div class="seperator"></div>
    <paper-button raised on-tap="{{switchUser}}"><core-icon icon="cached"></core-icon> Gebruiker wisselen</paper-button>
    <paper-button raised on-tap="{{logOut}}"><core-icon icon="exit-to-app"></core-icon> Uitloggen</paper-button>
  </div>

    <div>
      <div class="task-form">
        <paper-input-decorator label="Username">
          <input type="text" value="{{editUsername}}" id="name">
        </paper-input-decorator>

        <paper-button raised on-tap="{{updateUser}}">Opslaan</paper-button>
        <paper-button on-tap="{{updateUser}}">Annuleren</paper-button>
      </div>
    </div>
    </core-animated-pages>


  </template>
    <script type="text/javascript" src="js/profile-view.js"></script>
    <script type="text/javascript" src="../../lib/jquery-2.1.0.min.js"></script>
</polymer-element>
