<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-icon-button/core-icon-button.html">
<link rel="import" href="../core-animation/core-animation.html">
<link rel="import" href="../core-collapse/core-collapse.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../custom/new-user.html">
<link rel="import" href="../custom/new-error.html">

<polymer-element name="register-view">
  <template>
    <style>
      .registerForm{
          background:white;
          height:calc(100vh - 65px);
          padding-left:10px;
          padding-top:20px;
          overflow: auto;
      }
      core-toolbar{
        background:#DC5957;
        color:white;
      }
      core-animated-pages{
        height:calc(100vh - 64px);
      }
      span{
        color:inherit;
        font-size:12px;
      }
      .nextButton{
        float: right;
        background: white;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
      }
      .addUserButton{
        font-size: 13px;
        width: 385px;
        line-height: 36px;
        height: 35px;
      }
    </style>

    <core-ajax id="addHouse"
      auto="false"
      url="http://localhost:3000/api/houses"
      on-core-response="{{houseAdded}}"
      handleAs="json"
      method="POST">
    </core-ajax>

    <core-ajax id="addUsers"
      auto="false"
      on-core-response="{{usersAdded}}"
      handleAs="json"
      method="PUT">
    </core-ajax>

    <core-animated-pages id="pages" selected="0" transitions="slide-from-right">

      <div id="stepone">

        <core-toolbar>
          <core-icon-button icon="arrow-back" on-tap="{{back}}"></core-icon-button>
          <div flex>Registeren stap 1 van 3</div>
        </core-toolbar>

        <div class="registerForm">
          <form class="file-form" method="post" enctype="multipart/form-data">
            <input type="file" class="file" name="house[avatar]">

            <paper-input-decorator label="Groepsnaam">
            <input type="text" value="{{housename}}" placeholder="Groepsnaam" class="groepsnaam"/>
            </paper-input-decorator>

            <paper-input-decorator label="Groepswachtwoord">
            <input id="password" is="core-input" name="password" type="password" value="{{housepassword}}"/>
            </paper-input-decorator>

            <paper-input-decorator label="Wachtwoord confirmatie">
            <input id="password" is="core-input" name="password" type="password" value="{{housepassword_confirmation}}"/>
            </paper-input-decorator>

            <span>Iets wat iedereen makkelijk kan onthouden, zoals het wifi wachtwoord.</span>
          </form>

          <paper-button raised="" class="nextButton" on-tap="{{SubmitHouse}}" class="colored" role="button" tabindex="0">
          Volgende stap
          </paper-button>

          <template repeat="{{error, errorIndex in errors}}">
          <new-error message="{{error.message}}" error_position="{{errorIndex}}"></new-error>
          </template>
        </div>
      </div>

      <div id="steptwo">
         <core-toolbar>
          <core-icon-button icon="arrow-back" on-tap="{{back}}"></core-icon-button>
          <div flex>Registeren stap 2 van 3</div>
        </core-toolbar>

        <div class="registerForm">
          <template repeat="{{user, userIndex in users}}">
            <new-user name="{{user.name}}" email="{{user.email}}" user_position="{{userIndex}}" on-show-users="{{showUsers}}"></new-user>
          </template>

           <core-icon icon="add-circle-outline" class="addUserButton" on-tap="{{addNewUser}}">
           Extra huisgenoot
           </core-icon>

          <paper-button raised="" on-tap="{{submitUsers}}" id="sendData" class="nextButton">Huis aanmaken</paper-button>
        </div>
      </div>

      <div id="stepthree">
        <h1>Je bent geregistreerd, alle huisgenoten krijgen een e-mail met daarin een uitnodiging</h1>
        <paper-button on-tap="{{goToLogin}}">Joepie</paper-button>
      </div>

    </core-animated-pages>
  </template>
  <script type="text/javascript" src="js/register-view.js"></script>
</polymer-element>
