<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-icon-button/core-icon-button.html">
<link rel="import" href="../core-animation/core-animation.html">
<link rel="import" href="../core-collapse/core-collapse.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-slider/paper-slider.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">


<script src="../../lib/sweet-alert.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../lib/sweet-alert.css">

<link rel="import" href="single-task-settings.html">


<polymer-element name="settings-view">
	<template>
		<style>
core-animated-pages{
	height:calc(100vh - 112px);
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	background:#F8F8F8;
}
            
core-animated-pages > div{
    padding-top:15px;    
}
            
core-toolbar{
    width:100%;
    background:#DC5957;
    color:#FFF;
}

core-icon-button{
    width:55px;
    float:left;
}
            
core-toolbar > div{
    text-align:center;
}

paper-tabs{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background:#DC5957;
    color:#FFF;
}

paper-tabs::shadow #selectionBar{
    background-color:#B32F2D;
    display:none;
}

paper-tabs paper-tab::shadow #ink{
    color:rgba(255,255,255,0.3);
}

paper-button{
    font-size:12px;
}
            
paper-button[raised]{
    padding:2px 15px 0;
    background:#DC5957;
    color:#FFF;
}

paper-tabs paper-tab core-icon{
    margin-right:5px;
}
            
.task-form{
    background:#FFF;
    margin:0 3% 15px;
    padding:12px 10px;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.35);
}
       
.task-form paper-input, .task-form paper-dropdown-menu{
    width:100%;
}
            
.task-form paper-radio-button{
    width:90%;
}

paper-radio-button::shadow #ink[checked]{
    color:#DC5957;
}
            
paper-radio-button::shadow #onRadio{
    background-color:#DC5957;
}

paper-radio-button[checked]::shadow #offRadio{
    border-color:#DC5957;
}
        </style>

		<core-ajax id="ajaxGetTasks"
            auto="false"
            url="http://178.62.205.200/api/tasks"
            on-core-response="{{tasksLoaded}}"
            handleAs="json"
            method="GET">
		</core-ajax>

		<core-ajax id="updateTask"
            auto="false"
            on-core-response="{{taskUpdated}}"
            handleAs="json"
            method="PUT">
		</core-ajax>

        <core-ajax id="addTask"
            auto="false"
            on-core-response="{{taskAdded}}"
            handleAs="json"
            method="POST">
        </core-ajax>

        <core-ajax id="deleteTask"
            auto="false"
            on-core-response="{{taskDeleted}}"
            handleAs="json"
            method="DELETE">
        </core-ajax>
        
        <core-toolbar>
            <core-icon icon="home" on-tap="{{goBack}}"></core-icon>
            <div flex>{{toolbarname}}</div>
            <core-icon icon="add" on-tap="{{newTask}}" id="addBtn"></core-icon>
        </core-toolbar>

		<core-animated-pages id="pages" selected="0" transitions="slide-from-right">
			<div>
                <template repeat="{{task in tasks}}">
                    <single-task-settings name="{{task.name}}" points="{{task.points}}" deadline="{{task.deadline}}" task_id="{{task.id}}" on-delete-task="{{deleteTask}}" on-update-task="{{updateTask}}"></single-task>
                </template>
			</div>

			<div>
                <div class="task-form">
                    <paper-input class="task" value="{{newTaskName}}" autofocus label="Naam van de taak"></paper-input>

                    <paper-radio-group id="radio" selected="1">
                        <paper-radio-button name="1" label="Elke dag"></paper-radio-button>
                        <paper-radio-button name="7" label="Elke week"></paper-radio-button>
                        <paper-radio-button name="28" label="Elke maand"></paper-radio-button>
                    </paper-radio-group>

                    <paper-button raised on-tap="{{addTask}}">Opslaan</paper-button>

                    <paper-button on-tap="{{newTask}}">Annuleren</paper-button>
                </div>
			</div>
			
			<div>
			    
			</div>
		</core-animated-pages>
		
		<paper-tabs selected="0" noink="true">
			<paper-tab on-tap="{{showTakskManager}}"><core-icon icon="assignment"></core-icon> Taakbeheer</paper-tab>
			<paper-tab on-tap="{{showUsersManager}}"><core-icon icon="account-circle"></core-icon> Gebruikers</paper-tab>
		</paper-tabs>

	</template>
	<script>
		Polymer({
			ready:function(){
				var auth = {'Authorization': 'Token token='+localStorage.token};
				this.$.ajaxGetTasks.headers = auth;
				this.$.ajaxGetTasks.params = {'house_id':localStorage.house_id};
				this.$.updateTask.headers = auth;
				this.$.deleteTask.headers = auth;
                this.$.addTask.headers = auth;

                if(localStorage.house_id && localStorage.token){
                    this.$.ajaxGetTasks.go();
                }
                
                this.toolbarname = 'Taakbeheer';
			},
			tasksLoaded:function(){
				this.tasks = this.$.ajaxGetTasks.response;
			},
			updateTask:function(event, detail, sender){
				console.log('update task '+detail.task_id+' ("'+detail.name+'")');

				this.$.updateTask.url = 'http://178.62.205.200/api/tasks/'+detail.task_id;
				this.$.updateTask.params = {'task[name]':detail.name, 'task[points]':detail.points};
				this.$.updateTask.go();
			},
			taskUpdated:function(){
				console.log('task updated');
			},
			deleteTask:function(event, detail, sender){
				this.$.deleteTask.url = 'http://178.62.205.200/api/tasks/'+detail.task_id;

                this.$.deleteTask.go();
			},
			newTask:function(sender){
                var rotate = new CoreAnimation();
                rotate.duration = 300;
                rotate.fill = 'forwards';
                rotate.target = this.$.addBtn;
                
                if(this.$.pages.selected == 0){
                    this.toolbarname = 'Taak Toevoegen';
				    this.$.pages.selected = 1;
                    
                    rotate.keyframes = [{
                        transform:'rotateZ(0deg)'
                    },{
                        transform:'rotateZ(45deg)'
                    }];
                    rotate.play();
                }else{
                    this.toolbarname = 'Taakbeheer';
				    this.$.pages.selected = 0;
                    
                    rotate.keyframes = [{
                        transform:'rotateZ(45deg)'
                    },{
                        transform:'rotateZ(0deg)'
                    }];
                    rotate.play();
                }
			},
            addTask:function(event, detail, sender){
                this.$.addTask.url = 'http://178.62.205.200/api/tasks/';
                this.$.addTask.params = {
                'task[name]':this.newTaskName,
                'task[house_id]':localStorage.house_id,
                'task[duration]': Number(this.$.radio.selected)
                };

                this.$.addTask.go();
            },
            taskAdded:function(){
              swal("Gelukt", "Taak zit erbij!", "success")
            },
            taskDeleted:function(){
              //swal("Good job!", "You clicked the button!", "success")
            },
            back:function(){
                this.$.pages.selected = 0;
            },
            showSingle:function(){
                this.fire('go-to', {page:'tasks'});
            },
            showGroup:function(){
                this.fire('go-to', {page:'tasks'});
            },
            goBack:function(){
                this.fire('go-to', {page:'tasks'});
            },
            showTakskManager:function(){
                this.toolbarname = 'Taakbeheer';
                this.$.pages.selected = 0;
                this.$.addBtn.hidden = false;
            },
            showUsersManager:function(){
                this.toolbarname = 'Gebruikers';
                this.$.pages.selected = 2;
                this.$.addBtn.hidden = true;
            }
		});
	</script>
</polymer-element>
