<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-animation/core-animation.html">
<link rel="import" href="../core-collapse/core-collapse.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-slider/paper-slider.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toast/paper-toast.html">

<link rel="import" href="single-task-settings.html">


<polymer-element name="settings-view">
	<template>
		<style>
core-animated-pages{
	height:calc(100vh - 80px);
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	background:#F8F8F8;
}
paper-slider::shadow #sliderKnobInner, paper-slider::shadow #sliderKnobInner::before, paper-slider::shadow #sliderBar::shadow #activeProgress{
 	background:#DC5957;
}

.settings-container{
  width:100%;
  background:white;
}
.settings-form{
  padding:20px;
}
.task{
  width:100%;
}
      paper-tabs#navigation, core-toolbar{
        position:fixed;
        left:0;
        bottom:0;
        height:80px;
        width:100%;
        background:#DC5957;
        color:#FFF;
        box-shadow:0px 3px 2px rgba(0, 0, 0, 0.2);
      }

      paper-tabs#navigation::shadow #selectionBar{
        background-color:#B32F2D;
        display:none;
      }

      paper-tabs paper-tab::shadow #ink{
        color:rgba(255,255,255,0.3);
      }

      paper-fab{
        top:15px;
        left:10px;
        position:fixed;
        background:#5677fc;
        z-index:1;
        opacity: 0.6;
      }
		</style>

		<core-ajax id="ajaxGetTasks"
			auto
			url="http://178.62.205.200/api/tasks"
			on-core-response="{{tasksLoaded}}"
			handleAs="json"
			method="GET">
		</core-ajax>

		<core-ajax id="updateTask"
			auto="false"
			on-core-response="{{taskUpdated}}"
			handleAs="json"
			method="PUT">
		</core-ajax>

    <core-ajax id="addTask"
      auto="false"
      on-core-response="{{taskAdded}}"
      handleAs="json"
      method="POST">
    </core-ajax>

		<core-ajax id="deleteTask"
			auto="false"
			on-core-response="{{taskDeleted}}"
      handleAs="text/plain"
			method="DELETE">
		</core-ajax>

		<core-animated-pages id="pages" selected="0" transitions="slide-from-right">
			<div>
				<template repeat="{{task in tasks}}">
					<single-task-settings name="{{task.name}}" points="{{task.points}}" deadline="{{task.deadline}}" task_id="{{task.id}}" on-delete-task="{{deleteTask}}" on-update-task="{{updateTask}}"></single-task>
				</template>
        <paper-fab icon="add" on-tap="{{addNew}}" role="button"></paper-fab>
			</div>

			<div class="settings-container">

      <div class="settings-form">
        <paper-input class="task" value="{{newTaskName}}" autofocus label="Taak"></paper-input>

        <paper-radio-group id="radio" selected="1">
          <paper-radio-button name="1" label="Elke dag"></paper-radio-button>
          <paper-radio-button name="7" label="Elke week"></paper-radio-button>
          <paper-radio-button name="28" label="Elke maand"></paper-radio-button>
        </paper-radio-group>

        <paper-button raised on-tap="{{addTask}}">
          Toevoegen
        </paper-button>

         <paper-button raised on-tap="{{back}}">
          Terug
        </paper-button>
      </div>

			</div>
		</core-animated-pages>


    <paper-tabs selected="0" id="navigation">
      <paper-tab on-tap="{{showSingle}}">Single</paper-tab>
      <paper-tab on-tap="{{showGroup}}">Group</paper-tab>
      <paper-tab on-tap="{{gotoSettings}}">Settings</paper-tab>
    </paper-tabs>


	</template>
	<script>
		Polymer({
			ready:function(){
				var auth = {'Authorization': 'Token token='+localStorage.token};
				this.$.ajaxGetTasks.headers = auth;
				this.$.ajaxGetTasks.params = {'house_id':localStorage.house_id};
				this.$.updateTask.headers = auth;
				this.$.deleteTask.headers = auth;
        this.$.addTask.headers = auth;
			},
			tasksLoaded:function(){
				this.tasks = this.$.ajaxGetTasks.response;
			},
			updateTask:function(event, detail, sender){
				console.log('update task '+detail.task_id+' ("'+detail.name+'")');

				this.$.updateTask.url = 'http://178.62.205.200/api/tasks/'+detail.task_id;
				this.$.updateTask.params = {'task[name]':detail.name, 'task[points]':detail.points};
				this.$.updateTask.go();
			},
			taskUpdated:function(){
				console.log('task updated');
			},
			deleteTask:function(event, detail, sender){
				this.$.deleteTask.url = 'http://178.62.205.200/api/tasks/'+detail.task_id;

        this.$.deleteTask.go();
			},
			addNew:function(){
				this.$.pages.selected = 1;
			},
      addTask:function(event, detail, sender){
        this.$.addTask.url = 'http://178.62.205.200/api/tasks/';
        this.$.addTask.params = {
        'task[name]':this.newTaskName,
        'task[house_id]':localStorage.house_id,
        'task[duration]': Number(this.$.radio.selected)
        };

        this.$.addTask.go();
      },
      taskAdded:function(){
        console.log('task added');

        //$("#addedToast").show();
      },
      back:function(){
        this.$.pages.selected = 0;
      }
		});


	</script>
</polymer-element>
