<polymer-element name="single-user" attributes="id name name_ext avatar email">
	<template>	
		<link rel="stylesheet" type="text/css" href="style/single-task.css">
		
		<div class="task todo" on-tap="{{userTap}}">						
			<img class="btn avatar" src="http://178.62.205.200{{avatar}}">
			
			<h3>{{name}}{{name_ext}}</h3>
			
			<div class="details">
				<core-icon icon="mail"></core-icon> {{email}}
			</div>
		</div>
	</template>
	
	<script>
Polymer({
    userTap:function(){
        this.fire('edit-user', {id:this.id, username:this.name});
    }
});    
    </script>
</polymer-element>