<polymer-element name="single-task" attributes="name duration deadline deadlineLabel points task_id task_position created_at">
	<template>
		<link rel="stylesheet" type="text/css" href="style/single-task.css">

		<div class="task todo" on-tap="{{taskTap}}">
			<div class="btn"><core-icon icon="check"></core-icon> Afronden</div>

			<h3>{{name}}</h3>

			<div class="details">
				<core-icon icon="star"></core-icon> {{points}}
				<core-icon icon="alarm"></core-icon> {{deadlineLabel}}
			</div>
		</div>
	</template>

	<script type="text/javascript" src="js/single-task.js"></script>
</polymer-element>
