paper-spinner{
  position:absolute;
  left:50%;
  top:50%;
  margin:-14px 0 0 -14px;
}

paper-spinner.white::shadow .circle{
  border-color:white;
}

.fixedpage{
    height:100vh;
}

#register{
    height:100vh !important;
}
