core-animated-pages{
  height:calc(100vh - 132px);
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
  background:#F8F8F8;
}

core-animated-pages > div{
    padding-top:15px;
}

core-toolbar{
    width:100%;
    background:#DC5957;
    color:#FFF;
    padding-top:20px;
    height:84px;
}

core-icon-button{
    width:55px;
    float:left;
}

core-toolbar > div{
    text-align:center;
}

paper-tabs{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background:#DC5957;
    color:#FFF;
}

paper-tabs::shadow #selectionBar{
    background-color:#B32F2D;
    display:none;
}

paper-tabs paper-tab::shadow #ink{
    color:rgba(255,255,255,0.3);
}

paper-button{
    font-size:12px;
}

paper-button[raised]{
    padding:2px 15px 0;
    background:#DC5957;
    color:#FFF;
}

paper-tabs paper-tab core-icon{
    margin-right:5px;
}

.task-form{
    background:#FFF;
    margin:0 3% 15px;
    padding:14px 10px 1px;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.35);
}

.task-form paper-input, .task-form paper-dropdown-menu{
    width:100%;
}

paper-input-decorator{
    padding-top:0;
}

paper-input-decorator /deep/ .focused-underline{
    background-color:#DC5957;
}

paper-input-decorator /deep/ paper-input-decorator{
    padding-top:0;
}

paper-input-decorator input{
    font-size:18px !important;
    padding:0px 10px !important;
}

.task-form paper-radio-button{
    width:90%;
}

paper-radio-button::shadow #ink[checked]{
    color:#DC5957;
}

paper-radio-group{
    margin-bottom:20px;
}

paper-radio-button::shadow #onRadio{
    background-color:#DC5957;
}

paper-radio-button[checked]::shadow #offRadio{
    border-color:#DC5957;
}

paper-checkbox{
    margin:15px 12px;
}

paper-checkbox::shadow #checkbox.checked{
  background-color:#DC5957;
  border-color:#DC5957;
}

paper-checkbox::shadow #ink{
  color:#DC5957;
}

.seperator{
    width:94%;
    height:1px;
    background:#BBB;
    margin:0 auto 15px;
}

paper-button{
    width:90%;
    margin:15px auto;
    display:block;
}

paper-button core-icon{
    margin-left:-8px;
    margin-right:10px;
}
h4{
    margin-bottom:0;
}

.user{
    position:relative;
    background:#FFF;
    margin:0 3% 15px;
    padding:12px 10px;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.35);
    overflow:hidden;
    text-align:center;
}

.user .avatar{
    position:relative;
    width:70%;
    max-width:300px;
    margin:20px auto 10px;
}

.user .avatar img{
    width:100%;
    border-radius:50%;
    border:1px solid gray;
}

.user .avatar core-image{
    width:100%;
    border-radius:50%;
    border:1px solid gray;
}

.user .avatar input[type="file"]{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0;
}

.user .avatar input[type="file"]:focus{
    outline:none;
}

.user input[type="text"]{
    text-align:center;
    margin-left:-10px;
    font-size:20px !important;
}

.user p{
    font-size:14px;
    color:#BBB;
}

.user p core-icon{
    height:17px;
}